.note-menu__hover-off,
.note-menu__hover-on:hover{
    display: none;
}

.note-menu__hover-on,
.note-menu__hover-off:hover{
    display: inline-block;
}

pre {
    font-family:  Segoe UI, Arial, sans-serif,;
    white-space: pre-wrap;
    letter-spacing: -0.05em;
    word-spacing: 0.005em;

}
