.note-menu__delete-button{
  hight: 50px;
  width: 50px;
display: inline-block;
  background-origin: border-box;
  background-repeat: no-repeat;

  box-shadow: none;
  border: none;
  outline: none;
}
.note-menu__delete-button:hover {
  cursor: pointer ;
}